<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempSys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Conexion" connectionString="Data Source=OLDSVR12,1433;Initial Catalog=PRODUCCION;User Id=sa; Password=12345678;"
      providerName="System.Data.SqlClient" />
    <add name="Interfaz.Properties.Settings.PRODUCCIONConnectionString"
      connectionString="Data Source=OLDSVR12,1433;Initial Catalog=PRODUCCION;User Id=sa; Password=12345678"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <TempSys.Properties.Settings>
      <setting name="clave" serializeAs="String">
        <value>Acisa123!</value>
      </setting>
    </TempSys.Properties.Settings>
  </applicationSettings>
</configuration>